PROJECT_NAME=Test Project
DEBUG=True
POSTGRES_USER=postgres

# this is the "dbname" in many PostgreSQL client utilities
POSTGRES_NAME=odot_crash_data

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=some.string.you.can.remember.that.nobody.else.can.guess
DJANGO_SECRET_KEY=some.string.you.can.remember.that.nobody.else.can.guess
