PROJECT_NAME=transportation_systems_passenger_census
DEBUG=True

# the database superuser name - this is the default
DEVELOPMENT_POSTGRES_USER=postgres

# the database name the API will connect to - "dbname" in most PostgreSQL command-line tools
DEVELOPMENT_POSTGRES_NAME=transportation-systems-passenger-census

# the database owner - automatic restore needs this
DEVELOPMENT_DATABASE_OWNER=transportation-systems

# *service* name (*not* image name) of the database in the Docker network
DEVELOPMENT_POSTGRES_HOST=db_development

# port the database is listening on in the Docker network
DEVELOPMENT_POSTGRES_PORT=5432

# password for the PostgreSQL database superuser in the database container
DEVELOPMENT_POSTGRES_PASSWORD=sit-down-c0mic

# the password for the teams
DEVELOPMENT_TEAM_PASSWORD=d0wn!0ff!a!duck

# Django secret key in the API container
DEVELOPMENT_DJANGO_SECRET_KEY=r0ck.ar0und.the.c10ck

# the database superuser name - this is the default
PRODUCTION_POSTGRES_USER=postgres

# the database name the API will connect to - "dbname" in most PostgreSQL command-line tools
PRODUCTION_POSTGRES_NAME=transportation-systems-passenger-census

# *service* name (*not* image name) of the database in the Docker network
PRODUCTION_POSTGRES_HOST=aws_ip

# port the database is listening on in the Docker network
PRODUCTION_POSTGRES_PORT=5432

# password for the PostgreSQL database superuser in the database container
PRODUCTION_POSTGRES_PASSWORD=sit-down-c0mic

# Django secret key in the API container
PRODUCTION_DJANGO_SECRET_KEY=r0ck.ar0und.the.c10ck
