PROJECT_NAME=Test Project
DEBUG=True

# the database superuser name - this is the default
POSTGRES_USER=postgres

# the database name the API will connect to - "dbname" in most PostgreSQL command-line tools
POSTGRES_NAME=odot_crash_data

# *service* name (*not* image name) of the database in the Docker network
POSTGRES_HOST=db

# port the database is listening on in the Docker network
POSTGRES_PORT=5432

# password for the PostgreSQL database superuser in the database container
POSTGRES_PASSWORD=sit-down-c0mic

# Django secret key in the API container
DJANGO_SECRET_KEY=r0ck.ar0und.the.c10ck
